body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
}
/* header */
.header-logo,
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-accent{
    color:#2e2f42;
}
.header-menu-list{
    font-weight: 500;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-list:hover,
.header-menu-list:focus{
    color:#404bbf;
}
address{
    font-style: normal;
    color:#434455;
}
/* footer */
.footer{

}